.home{
    margin: 0;
    padding: 0;
    /* overflow: auto; */
}

.carousel-image{
    height: 400px;
    width: 100vw;
}

.heading{
    text-align: center;
    background-color: black;
    color: white;
    font-size: 50px;
    font-family:'Times New Roman', Times, serif;
    margin-bottom: 0px;
}

.sub-heading{
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: lighter;
    padding-bottom: 10px;
    padding-top: 10px;
}

.top-selling-product-card-holder-even{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.top-selling-product-card-holder-odd{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.heading-top-selling-product{
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.testimonials-container{
    text-align: center;
}

.chat-icon {
    margin-top: 30px;
    margin-bottom: 30px;
}

.icon-text {
    display: inline;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
}

.text-after-heading {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.testimonials-heading {
    font-size: 40px;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.testimonials-card-container {
    display: flex;
    justify-content: space-evenly;
}

.yellow-color{
    width: 30%;
    background-color: rgb(241, 241, 180);
}
.pink-color{
    width: 30%;
    background-color: pink;
}
.light-blue-color{
    width: 30%;
    background-color: lightblue;
}