.Layout {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.Header {
    padding: 0;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 1rem
}

.Logo {
    height: 50px;
    width: 50px;
    margin-left: 1rem;
}


.Content {
    padding: 24px;
    overflow: auto;
}

.Menu{
    width: 70vw;
}
